In [2]:
import pandas as pd
import numpy as np
from taigapy import create_taiga_client_v3

In [3]:
tc= create_taiga_client_v3()

In [4]:
crispr_dependencies = tc.get(name='internal-24q4-8c04', version=117, file='CRISPRGeneDependency')

In [5]:
crispr_dependencies

,A1BG (1),A1CF (29974),A2M (2),A2ML1 (144568),A3GALT2 (127550),A4GALT (53947),A4GNT (51146),AAAS (8086),AACS (65985),AADAC (13),...,ZWILCH (55055),ZWINT (11130),ZXDA (7789),ZXDB (158586),ZXDC (79364),ZYG11A (440590),ZYG11B (79699),ZYX (7791),ZZEF1 (23140),ZZZ3 (26009)
ACH-000001,0.081472,0.019557,0.013884,0.100987,0.022365,0.003256,0.043409,0.039893,0.004096,0.022905,...,0.073907,0.011079,0.005414,0.002309,0.004529,0.168268,0.014377,0.011050,0.005369,0.402964
ACH-000004,0.030400,0.042046,0.047038,0.042626,0.016766,0.076369,0.001879,0.032660,0.002555,0.005717,...,0.197319,0.421886,0.002982,0.007350,0.008094,0.009782,0.264322,0.007282,0.001484,0.035261
ACH-000005,0.069625,0.014287,0.005318,0.010318,0.048139,0.119415,0.006585,0.026757,0.051152,0.016791,...,0.187949,0.267061,0.035086,0.027052,0.018857,0.067349,0.029373,0.025776,0.012010,0.037007
ACH-000007,0.026158,0.051310,0.005926,0.007157,0.009359,0.016853,0.018201,0.066871,0.069209,0.002658,...,0.304459,0.299673,0.022158,0.001231,0.008503,0.024572,0.363707,0.011464,0.181764,0.310430
ACH-000009,0.050087,0.124279,0.013026,0.015877,0.008146,0.086953,0.024034,0.083313,0.017457,0.016134,...,0.418924,0.284402,0.045003,0.001707,0.064220,0.068912,0.673399,0.011075,0.035978,0.306134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ACH-003578,0.111139,0.033585,0.050142,0.012760,0.022701,0.039675,0.006000,0.071651,0.040592,0.015888,...,0.390708,0.640540,0.027122,0.004307,0.111400,0.035463,0.081754,0.031580,0.087841,0.449379
ACH-003580,0.011859,0.003230,0.044699,0.009610,0.005984,0.020530,0.006781,0.144694,0.013001,0.001769,...,0.277001,0.824403,0.014370,0.001882,0.102872,0.121796,0.240057,0.006161,0.086230,0.285028
ACH-003587,0.021563,0.362643,0.038994,0.002566,0.021421,0.016746,0.009420,0.731013,0.133479,0.001093,...,0.447705,0.847069,0.068588,0.004573,0.069633,0.013845,0.392879,0.009821,0.161606,0.103400
ACH-003590,0.034954,0.012562,0.005199,0.001722,0.046626,0.022580,0.001442,0.539276,0.009765,0.001547,...,0.889409,0.884809,0.036250,0.001874,0.027362,0.008177,0.035596,0.007889,0.099651,0.218315
ACH-003665,0.024311,0.017769,0.021122,0.004539,0.047388,0.015022,0.005263,0.870296,0.015925,0.003271,...,0.584135,0.947390,0.070765,0.008284,0.008859,0.011641,0.105579,0.005657,0.030414,0.035822

## Getting transcription factors list

In [6]:
tfs = pd.read_csv("data/tf_list.csv")

In [7]:
tfs.head()

  hugo_symbol
0      TFAP2A
1      TFAP2B
2      TFAP2C
3      TFAP2D
4      TFAP2E

In [13]:
tfs.shape

(1639, 1)

In [9]:
tfs_reviewed = pd.read_excel("data/TF_names.xlsx")

In [10]:
tfs_reviewed.head()

   Unnamed: 0 Original names  Unnamed: 2 new names
0         NaN       C11orf95         NaN      ZFTA
1         NaN          ZBED9         NaN     ZBED9
2         NaN          ARNTL         NaN     BMAL1
3         NaN         ARNTL2         NaN     BMAL2
4         NaN     AC023509.3         NaN       NaN

In [12]:
tfs_reviewed = tfs_reviewed[["Original names", "new names"]]

In [14]:
tfs_reviewed.shape

(15, 2)

In [17]:
tfs = tfs[~tfs["hugo_symbol"].isin(tfs_reviewed["Original names"].values)]

In [22]:
tfs["hugo_symbol"] = pd.concat([tfs["hugo_symbol"], tfs_reviewed["new names"]], ignore_index=True)

In [23]:
tfs.shape

(1624, 1)

## Filtering matrix

In [25]:
import re

In [24]:
crispr_dependencies.columns

Index(['A1BG (1)', 'A1CF (29974)', 'A2M (2)', 'A2ML1 (144568)',
       'A3GALT2 (127550)', 'A4GALT (53947)', 'A4GNT (51146)', 'AAAS (8086)',
       'AACS (65985)', 'AADAC (13)',
       ...
       'ZWILCH (55055)', 'ZWINT (11130)', 'ZXDA (7789)', 'ZXDB (158586)',
       'ZXDC (79364)', 'ZYG11A (440590)', 'ZYG11B (79699)', 'ZYX (7791)',
       'ZZEF1 (23140)', 'ZZZ3 (26009)'],
      dtype='object', length=17916)

In [37]:
crispr_dependencies.columns = [re.sub(r"\(\d+\)", "", c).strip() for c in crispr_dependencies.columns]

In [39]:
tfs_found = [tf for tf in tfs["hugo_symbol"] if tf in crispr_dependencies.columns]

In [40]:
len(tfs_found)

1543

In [42]:
crispr_dependencies = crispr_dependencies.loc[:, tfs_found]

In [43]:
crispr_dependencies.to_pickle("pydata/tfs_dependencies.pkl")